:root { 
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1 rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s;
}

body {
    background-color: var(--bg);    
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1 rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.btn { 
    background: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
   letter-spacing: 0.1rem;
}

.home-container {
    background: url("./img/container.jpeg");   
    background-position: center;
    background: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
    font-size: 6rem;
    color: #fff;
}

.content p {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.5;
    color: #fff;
    padding: 1rem 0;
}

.title h2{
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.title span {
    color: #fff;
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.5;

}

.box-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.menu .box-container .box {
    background-color: var(--black);
    text-align: center;
    border: var(--border);
    padding: 4rem;
    cursor: pointer;
}

.box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    margin: 1rem 0;
}

.menu .box-container .box .price {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.menu .box-container .box .price span {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: line-through;
    margin-left: 1rem;
}

.menu .box-container .box:hover {
    background-color: #fff;
}

.menu .box-container .box:hover>* {
    color: var(--black);
}

.menu .box-container .box:hover .price span {
    color: var(--black);
} 

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3 rem 2rem;
 
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}

.review .box-container .box h3 {
    margin: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.address {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share img {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--black);
    line-height: 3rem;
    margin: 0 0.3rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.footer .share img:hover {
    background-color: var(--main-color);
}

